.clients__section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.clients__title {
  font-style: normal;
  font-weight: bold;
  font-size: $FontSize36;
  line-height: $LineHeight42;
  text-align: center;
  letter-spacing: $LetterSpacing03;
  margin-bottom: 50px;
  margin-left: 0;
  margin-top: 0;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 0px;
  fill: currentColor;

  @media (min-width: 1200px) {
    @include Flex(flex, center, none);
    text-align: center;
    flex-wrap: nowrap;
    fill: currentColor;
  }

  & :not(:last-of-type) {
    margin-bottom: 0px;
  }

  & :not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 170px;
  height: 90px;
  color: #afb1b8;
  fill: currentColor;
  transition: border $time $cubic, fill $time $cubic;

  &:hover,
  &:focus {
    fill: $blue-text;
    border: 1px solid $blue-text;
    border-radius: 4px;
  }

  &:active {
    fill: transparent;
  }

  @media (min-width: 768px) {
    max-width: 226px;
  }
  @media (min-width: 1200px) {
    width: 170px;
    height: 90px;
  }
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  color: $clients;
  border-radius: 4px;
  margin-left: 0;
  cursor: pointer;
  margin-right: 30px;

  width: calc((100% - 30px) / 2);
  @media (min-width: 768px) {
    width: calc((100% - 30px) / 3);
    @media (min-width: 1200px) {
      @include Flex(flex, center, center);
      width: 170px;
      height: 90px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.clients__svg {
  padding: 0;
}
