html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin Flex(
  $display: flex,
  $align-items: center,
  $justify-content: space-between
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin positionAbsoluteAfter(
  $display: block,
  $position: absolute,
  $content: ''
) {
  display: $display;
  position: $position;
  content: $content;
}

@media screen and (min-width: 480px) {
  width: 480px;
}
@media screen and (min-width: 768px) {
  width: 768px;
}
@media screen and (min-width: 1200px) {
  width: 1200px;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100%;
}
