html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  text-align: center;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.body.modal-open {
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@mixin Flex(
  $display: flex,
  $align-items: center,
  $justify-content: space-between
) {
  display: $display;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin positionAbsoluteAfter(
  $display: block,
  $position: absolute,
  $content: ''
) {
  display: $display;
  position: $position;
  content: $content;
}

@media screen and (min-width: 480px) {
  width: 480px;
}
@media screen and (min-width: 768px) {
  width: 768px;
}
@media screen and (min-width: 1200px) {
  width: 1200px;
}
