$white-text: rgba(255, 255, 255, 1);
$blue-text: rgba(33, 150, 243, 1);
$black-text: rgba(33, 33, 33, 1);
$grey-text: rgba(117, 117, 117, 1);
$grey-opa: rgba(117, 117, 117, 0.5);
$grey-text-op60: rgba(255, 255, 255, 0.6);
$back-grey: rgba(47, 48, 58, 1);
$back-white-gray: rgba(245, 244, 250, 1);
$back-potfolio-img: rgba(238, 238, 238, 1);
$clients: rgba(175, 177, 184, 1);
$icon-foot-back: rgba(255, 255, 255, 0.1);
$overlay: rgba(0, 0, 0, 0.2);
$label: rgba(47, 48, 58, 0.8);
$linear-gradient: rgba(47, 48, 58, 0.4);
$hover-overlay: rgba(33, 150, 243, 0.9);
$time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$border-modal: rgba(33, 33, 33, 0.2);
$checkbox__button: rgba(24, 140, 232, 1);
$border: rgba(236, 236, 236, 1);
$border-project__link: rgba(238, 238, 238, 0.8);
$header-background: rgba(255, 255, 255, 0.1);
$background-border: rgba(255, 255, 255, 0.3);

$FontSize44: 44px;
$FontSize36: 36px;
$FontSize26: 26px;
$FontSize20: 20px;
$FontSize18: 18px;
$FontSize16: 16px;
$FontSize14: 14px;
$FontSize12: 12px;

$LetterSpacing01: 0.01em;
$LetterSpacing02: 0.02em;
$LetterSpacing03: 0.03em;
$LetterSpacing06: 0.06em;

$LineHeight60: 60px;
$LineHeight36: 36px;
$LineHeight42: 42px;
$LineHeight31: 31px;
$LineHeight30: 30px;
$LineHeight28: 28px;
$LineHeight26: 26px;
$LineHeight24: 24px;
$LineHeight23: 23px;
$LineHeight20: 20px;
$LineHeight19: 19px;
$LineHeight16: 16px;
$LineHeight14: 14px;
